---
- name: Obter comando de join do master
  hosts: masternode
  become: yes
  gather_facts: no
  tasks:
    - name: Gerar join command
      command: kubeadm token create --print-join-command
      register: join_cmd_raw

    - name: Ajustar variável join_command
      set_fact:
        join_command: "{{ join_cmd_raw.stdout }}"

    - name: Exibir comando (opcional)
      debug:
        msg: "Join command: {{ join_command }}"


- name: Executar join nos workers
  hosts: workernode
  become: yes
  gather_facts: no
  vars:
    join_command: "{{ hostvars[groups['masternode'][0]].join_command }}"
  tasks:
    - name: Executar kubeadm join
      command: "{{ join_command }}"
      register: join_output
      args:
        warn: false

    - name: Exibir saída do join
      debug:
        var: join_output.stdout
